.bookshelf {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  column-gap: 24px;
}

.divider {
  width: 2px;
  height: 250px;
  background-color: whitesmoke;
}

.control {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}
