.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5vmin 0;
  height: 100vh;

  background-color: #282c34;

  text-align: center;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
