.form {
  display: flex;
  align-items: end;
  gap: 8px;
  width: 320px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.input {
  padding: 0.5rem;
}

.button {
  padding: 0.5rem;

  border: none;
  border-radius: 6px;

  background-color: rgba(44, 79, 124);

  color: whitesmoke;
  font-size: medium;

  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 4px 2px;
}

.button:active {
  box-shadow: 0 0 2px 0px;
}

.disabled {
  background-color: rgba(44, 79, 124, 0.464);
  pointer-events: none;
}

.list {
  width: 320px;
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;

  overflow: auto;
  text-align: start;
  box-sizing: border-box;
}
